body{
    margin: 0;
}
h1{
    font-family: 'Lato', sans-serif;
    color: #e4e4e4;
    font-size: large;
}
h2{
    font-family: 'Roboto', sans-serif;
    color: #e4e4e4;
    font-size: medium;
}
h3{
    font-family: 'Roboto', sans-serif;
    color: #5b5b5b;
    font-size: medium;
}
.ps-logo{
    position: relative;
    top: 25px;
}
.container{
    display: flex;
    background-color: #1a1b1f;
    height: 100vh;
}
.side-bar{
    width: 100px;
    display: flex;
    justify-content: center;
}

.button1{
    position: absolute;
    bottom: 65%;
}
.home:hover{
    background-color: #0d81ec;
    border-radius: 10px;
    padding: 10px;
}
.button2{
    position: absolute;
    bottom: 57%;
}
.cart:hover{
    background-color: #0d81ec;
    border-radius: 10px;
    padding: 6px;
}
.button3{
    position: absolute;
    bottom: 50%;
}
.game:hover{
    background-color: #0d81ec;
    border-radius: 10px;
    padding: 8px;
}
.button4{
    position: absolute;
    bottom: 43%;
}
.cam:hover{
    background-color: #0d81ec;
    border-radius: 10px;
    padding: 8px;
}
.button5{
    position: absolute;
    bottom: 36%;
}
.follow:hover{
    background-color: #0d81ec;
    border-radius: 10px;
    padding: 8px;
}
.vl {
    border-left: 1px solid #d9d9e3;
    height: 100%;
    width: 1px;
}
.main-container{
width: 100%;
}
.search-container{
    display: flex;
    
}
.search-btn{
    background: #2a2a2a;
    font-size: 17px;
    border: none;
    cursor: pointer; 
    margin-left: 5%;
    position: relative;
    top: 32px;
    width: 50px;
    padding: 5px;
    height: 40px;
    border-radius: 10px;
}
.search-bar{
    margin-left: 0;
    position: relative;
    top: 23px;
    width: 300px;
    height: 40px;
    background-color: #2a2a2a;
    border: none;
    border-radius: 10px;
}
.user-container{
    display: flex;
    margin-right: 0;
    height: 80px;
    width: 400px;
}
.profile{
    position: absolute;
    top: 10px;
    right: 30px;
    padding: 10px;
}
.shop{
    position: absolute;
    top:20px;
    right: 110px;
    border-radius: 20px;
    background-color: #2a2a2a;
    padding: 8px;
}
.noti{
    position: absolute;
    top:20px;
    right: 170px;
    border-radius: 20px;
    background-color: #2a2a2a;
    padding: 8px;
}
.hoarding{
    background-color: #3333;
    height: 500px;
    width: 1200px;
    position: absolute;
    top: 100px;
    left: 130px;
    border-radius: 30px;
}
.hoard{
   height: 100%;
   width: 100%;
   border-radius: 30px;
}

.spi{
    height: 100%;
   width: 100%;
}
.lower-container{
    height: 380px;
    width: 1190px;
    position: absolute;
    top: 620px;
    left: 140px;
}
.heading{
    height: 10%;
    width: 1170px;
    position: absolute;
    padding: 10px;
}
.block1{
    display: flex;
    position: absolute;
    top: 60px;
    height: 84%;
    width: 396px;
}
.gta{
    display: flex;
    position: absolute;
    top: 10px;
    border-radius: 30px;
    height: 240px;
    width: 94%;
}
.gta-img{
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
.text1{
    position: absolute;
    width: 100%;
    height: 65px;
    bottom: 0;
}
.block2{
    position: absolute;
    left: 395px;
    top: 60px;
    height: 84%;
    width: 396px;
}
.ghost{
    display: flex;
    position: absolute;
    top: 10px;
    border-radius: 30px;
    height: 240px;
    width: 94%;
}
.ghost-img{
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
.text2{
    position: absolute;
    width: 100%;
    height: 65px;
    bottom: 0;
}
.block3{
    position: absolute;
    left: 793px;
    top: 60px;
    height: 84%;
    width: 396px;
}
.valo{
    display: flex;
    position: absolute;
    top: 10px;
    border-radius: 30px;
    height: 240px;
    width: 94%;
}
.valo-img{
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
.text3{
    position: absolute;
    width: 100%;
    height: 65px;
    bottom: 0;
}