body{
    margin: 0;
}
.header{
    margin-top: 40px;
    text-align: center;
}
.main{
    height: 400px;
    width: 500px;
    margin-top: 70px;
}
.input-box{
    width: 120px;
    outline: none;
}